* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fafafa;
  color: #404040;
  font: 300 16px/1.4 Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}
